 READ THE DATA USING PANDAS

In [77]:
import pandas as pd

In [78]:
df= pd.read_csv("spam.csv", encoding="latin-1")

In [79]:
df.drop(['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], axis=1, inplace=True)

In [80]:
df

     class                                            message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham              Will Ì_ b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

for categorical feature label replace ham and spam by 0 and 1 respectively

In [61]:
df['label'] = df['class'].map({'ham': 0, 'spam': 1})
x = df['message']
y = df['label']

In [62]:
x

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                Will Ì_ b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: message, Length: 5572, dtype: object

 Here we can use stopwords and stemming/lammitizer.

In [ ]:
#here we can use bag of word or Tfidf or word2vec   
#lets use TfIdf vectorizer

In [63]:
from sklearn.feature_extraction.text import CountVectorizer

In [70]:
cv = CountVectorizer()
x = cv.fit_transform(x)

In [81]:
#oper a pickle file where we can save this transformation

In [71]:
pickle.dump(cv, open('tranform.pkl', 'wb'))

In [82]:
# spliting the data into train and split

In [72]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.33, random_state=42)

In [90]:
# using naive bayes MultinominalNb model

In [91]:
from sklearn.naive_bayes import MultinomialNB
clf = MultinomialNB()
clf.fit(x_train,y_train)

MultinomialNB()

In [92]:
clf.score(x_test,y_test)

0.9793365959760739

#creating a pickle file to store this model

In [93]:
filename = 'nlp_model.pkl'

In [94]:
pickle.dump(clf, open(filename, 'wb'))